{% load i18n admin_static static  %}
<div id="session_list">
    {% if session_list %}
        {% csrf_token %}
        <input type="hidden" name="study-session-item" value="{% url "study-session-item" %}"/>
        <div class="module" >
        <table style="width: 100%">
        <caption><a href="/admin/app/importsession/" class="section">User Session</a></caption>
        {% for item in session_list %}
            {% if item.used %}
                <tr id="{{ item.id }}" class="session-item-class selected">
            {% else %}
                <tr id="{{ item.id }}" class="session-item-class" >
            {% endif %}
                    <th scope="row"><a href="/admin/app/importsession/{{ item.id }}/change/">{{ item.title }}</a></th>
                    <td style="width: 6%;text-align: center;vertical-align: middle;">{{ item.finished }}</td>
                </tr>
        {% endfor %}
        </table>
        </div>
    {% endif %}
</div>
<div id="site_list">
    {% if app_list %}
        {% for app in app_list %}
            <div class="module" >
            <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}" style="width: 100%">
            <caption><a href="#" class="section">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></caption>
            {% for model in app.models %}
                <tr>
                {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                    <th scope="row">{{ model.name }}</th>
                {% endif %}

                {% if model.add_url %}
                    <td style="width: 10%;;text-align: right"><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.admin_url %}
                    <td style="width: 10%;text-align: right"><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
</div>