.dashboard #content {
    width: 100%;
}
#site_list td, th {
     padding: 12px;
}
#header {
    width: 100%;
    height: auto;
    padding: 10px 40px;
    background: #417690;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}
h1#site-name {
    line-height: 1.8;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #417690;
    border-color: #fff;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.site-title{
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #79aec8;
    color: #fff;
}
